@model BlowOut.Models.Instrument

@{
    //Capitalize the type name ("New" or "Used")
    ViewBag.uppertype = char.ToUpper(Model.type[0]) + Model.type.Substring(1);
}

<div class="text-center">

    <h1> Rent a @ViewBag.uppertype @Model.instDescription!</h1>

    <img class="img img-responsive img-rounded" src="~/Content/Images/@Model.instDescription@(".jpg")"
         style="margin: 0 auto; max-width: 200px" />
    <br />

    @if (Model.type == "new")
    {
        <a href="@Url.Action("Instrument", "Rentals",
            new { instrumentID = Model.instrumentID })" class="btn btn-lg btn-success">New</a>
        <a href="@Url.Action("Instrument", "Rentals",
            new { instrumentID = (Model.instrumentID + 1) })" class="btn btn-lg btn-default">Used</a>
        <h1>@ViewBag.uppertype Price: $@Model.price/month</h1>
    }
    else if (Model.type == "used")
    {
        <a href="@Url.Action("Instrument", "Rentals",
            new { instrumentID = (Model.instrumentID - 1) })" class="btn btn-lg btn-default">New</a>
        <a href="@Url.Action("Instrument", "Rentals",
            new { instrumentID = Model.instrumentID })" class="btn btn-lg btn-success">Used</a>
        <h1>@ViewBag.uppertype Price: $@Model.price/month</h1>
    }

    @Html.ActionLink("Rent Your Own Today!", "Checkout", "Rentals", new { instrumentID = Model.instrumentID }, new { @class = "btn btn-success btn-lg", @style = "margin-top: 10px" })
    <br /><br />
    @Html.ActionLink("Back to Instruments", "Index", "Rentals")

    <p class="text-muted text-info bg-warning" style="margin-top: 20px">
    *If you rent the instrument for 18 months, you will own the instrument!  However, if you return it
    at any time <emp>before</emp> 3 months, there will be a $200 re-stocking fee. If you return it <emp>before</emp>
    3 months, you forfeit any equity in the instrument.</p>
</div>

